- posts.each do |post|
  .tile-container.tile-container-sm<>
    = link_to post do
      .tile
        .tile-cover-container
          .tile-cover{ style: "background-image: url(#{post.cover_url})" }
        .tile-meta
          .category!= post.category_title
          .title!= post.title
          .created-at= static_day_f(post.published_at)
