%section.key-visual
  .key-visual-line
    .container
      .mission-text-container
        .mission-text
          더 민주적인 세상을 만드는
  .key-visual-line
    .container
      .mission-text-container
        .mission-text
          민주주의 활동가들의
  .key-visual-line
    .container
      .mission-text-container
        .mission-text
          협동조합입니다.
  .key-visual-line
    .container
      .mission-text-container
        .mission-text.mission-text-serif
          Democracy More

%section.what-we-do
  .container.container-sm
    .base-section-title
      우리가 하는 일
    .base-section-desc.text-keep-all
      민주주의를 혁신하고,
      %br
      일상과 세상에 민주주의를 확산킵니다.

  .container.container-sm.categories-container
    = render 'pages/home/what_we_do/solution_filters', solution_slug: nil
  = render 'pages/home/what_we_do/posts', posts: @posts, solution_slug: nil


%a.anchor(id="solutions")
%section.solutions
  .container.container-sm
    .base-section-title
      솔루션
    .base-section-desc.text-keep-all
      컨설팅, 교육 및 워크숍, 디지털 플랫폼까지 다양한 솔루션이 준비되어 있습니다.
  .container
    .tiles-container
      - Post::SOLUTIONS.each do |solution|
        = link_to send(solution[:path_text]) do
          .tile-container{ 'data-aos': 'fade-up' }
            .tile{ style: "background-image: linear-gradient(to bottom, #11111100, #11111133), url(#{asset_url(solution[:image_path])})" }
              .tile-meta
                .subtitle
                  != solution[:subtitle]
                .title
                  != solution[:title]
