.parti2022
    %section.section1
        .content.pc
            = image_tag "parti2022_key-visual.png", width: "1120"
        .content.mobile
            = image_tag "parti2022_key-visual-m.png", width: "640"
        .content 
            .flex
                %div
                    .title
                        %p 이런 이야기를
                        %p 나눕니다
                    .paragraph.left
                        빠띠는 디지털 기술을 활용하여 더 나은 민주주의를 혁신하는 실험을 지속했습니다. 그 과정에서 다양한 이슈를 만났고,
                        .inline-block 사람들과 함께 고민하고 협업하며
                        해결했습니다.
                        %br
                        %br
                        Parti 2022에서는 민주주의 생태계에 있는 다양한 조직과 활동을 소개하고, 앞으로의 방향을 이야기합니다. 빠띠의 활동 뿐만 아니라 디지털 기술을 활용해 더 나은 민주주의를 고민하고 만들어가는 사람, 단체들을 만날 수 있습니다.
                %div
                    .info.pc
                        .date 2022.1.20 (목) ~ 1.21(금)
                        %div
                            .inline-block ZOOM 및 오프라인 참여
                            .youtube 유튜브 중계
                    .title.right
                        %p 이런 분들께
                        %p 추천드립니다
                    .paragraph.right
                        %div
                            디지털 기술을 통해 더 나은 활동을 만든 과정이
                            .inline-block 궁금하신 분
                        %div
                            빠띠의 디지털 민주주의 이야기를 들어보고
                            .inline-block 싶은 분
                        %div
                            사회문제를 해결하는 과정을 들어보고
                            .inline-block 싶은 분
                        %div
                            다양한 민주주의 활동가를 만나보고
                            .inline-block 싶은 분
                        %p 민주주의에 관심이 있는 모든 분


                        
            .community
                .title
                    %p 이 분들과
                    %p 함께합니다
                .flex
                    = image_tag "parti2022_logo01.png", height: "56"
                    = image_tag "parti2022_logo02.png", height: "56"
                    = image_tag "parti2022_logo03.png", height: "56"
                    = image_tag "parti2022_logo04.png", height: "56"
                    = image_tag "parti2022_logo05.png", height: "56"
                    = image_tag "parti2022_logo06.png", height: "56"
                    = image_tag "parti2022_logo07.png", height: "56"
                    = image_tag "parti2022_logo08.png", height: "56"
                    = image_tag "parti2022_logo09.png", height: "56"
                    = image_tag "parti2022_logo10.png", height: "56"
                    = image_tag "parti2022_logo11.png", height: "56"
                    = image_tag "parti2022_logo12.png", height: "56"                
                    = image_tag "parti2022_logo13.png", height: "56"                
                    = image_tag "parti2022_logo14.png", height: "56"                
                    = image_tag "parti2022_logo15.png", height: "56"                
                    = image_tag "parti2022_logo16.png", height: "56"                
                    = image_tag "parti2022_logo17.png", height: "56"                
                    = image_tag "parti2022_logo18.png", height: "56"                

    %section.section2
        .content
            .flex
                = link_to "https://www.youtube.com/channel/UCsR_JBtNoXumTFZigNXfbxg", class: "channel", target: "_blank" do
                    = image_tag "parti2022_youtube.png", height: "64"
                    빠띠 유튜브 채널
                .live.pc
                    %p 1.20 ~ 1.21
                    %p Parti 2022가 라이브 중계됩니다
        .live.mobile
            .content
                1/20, 1/21
                .inline-block.red Parti 2022가 라이브 중계됩니다
            

    %section.section3
        .content
            = image_tag "parti2022_citizen.png", height: "186"
            .date 1일차
            .title
                .small-text 디지털로 만드는
                %p 더 나은 시민주도
            .intro.paragraph
                %div
                    시민들은 디지털 기술을 통해 직접 무대에 올라가
                    .inline-block 목소리를 내기 시작했습니다
                %div
                    모두가 일상적으로 숙의할 수 있는 공론장
                    %strong.inline-block 빠띠 믹스
                %div
                    관심있는 사회 이슈로 모여 함께 액션하는
                    %strong.inline-block 빠띠 카누
                %div
                    시민 누구나 캠페인을 할 수 있도록 돕는
                    %strong.inline-block 빠띠 캠페인즈
                %p
                    시민과 함께했던&nbsp;
                    %strong>팩트체크
                    와 공적 마스크 앱 개발
                %br
                %p
                    %strong 더 많은 시민들이 플랫폼을 통해 앞으로 나설 수 있도록 함께해주세요
            .time-table-date.paragraph 1.20 (목)
            .time-table.paragraph
                .table-row
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 10:00 - 10:30
                        .flex-grow
                            .subject
                                인사말 : 빠띠가 만드는 더 많은, 더 나은, 일상의 민주주의
                            .small-text 유튜브 중계
                    .foldable
                        .padding
                            .desc
                                %p 빠띠는 공론장, 캠페인, 커뮤니티, 숙의와 의사결정 등 여러 영역에서 디지털 민주주의를 혁신하는 활동을 하고 있습니다.
                                %p 빠띠가 만들고자 하는 더 많은, 더 나은, 일상의 민주주의를 소개합니다.
                            %div
                                %strong with
                                .inline
                                    %strong 사회적협동조합 빠띠 이사장 권오현

                .table-row.pc
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 10:30 - 12:30
                        .flex-grow.flex
                            .half
                                세션 1
                                .subject 빠띠 캠페인즈의 캠페이너를 만나다
                                .small-text ZOOM 진행 / 유튜브 중계
                            .half
                                세션 2
                                .subject 시민이 직접 만드는 일상의 공론장
                                .small-text ZOOM 진행 / 유튜브 중계
                    .foldable
                        .padding.flex
                            .half
                                .desc 빠띠 캠페인즈는 실제 캠페이너들에게 어떻게 쓰이고 있을까요? 캠페인즈를 활용해 캠페인을 진행한 과정에 대해 세 명의 캠페이너를 모시고 직접 이야기 들어봅니다.
                                %div
                                    %strong with
                                    .inline-block
                                        알맹상점
                                        %strong 금자
                                    .inline / 
                                    .inline-block                                    
                                        개운초등학교
                                        %strong 이진수
                                    .inline / 
                                    .inline-block                                    
                                        참여연대
                                        %strong 이계정
                            .half
                                .desc 시민주도 공론장의 개념과 다양한 사례를 소개하고, 시민주도 디지털 공론장이 나아갈 방향을 논의합니다.
                                %div
                                    %strong with
                                    .inline-block
                                        서울 청년유니온
                                        %strong 제제
                                    .inline /
                                    .inline-block                                    
                                        사단법인 부산청년들
                                        %strong 조아
                                    .inline /
                                    .inline-block                                    
                                        니트생활자
                                        %strong 다지
                                    .inline /
                                    .inline-block                                    
                                        오늘의행동
                                        %strong 생강
                                    .inline /
                                    .inline-block                                    
                                        한국사회적경제연대회의
                                        %strong 매츄
                .table-row.mobile
                    .flex-768
                        .time 10:30 - 12:30
                        %div
                            .session{onclick:"openClose(this);"}
                                세션 1
                                .subject 빠띠 캠페인즈의 캠페이너를 만나다
                                .small-text ZOOM 진행 / 유튜브 중계
                            .foldable
                                .padding
                                    .desc 빠띠 캠페인즈는 실제 캠페이너들에게 어떻게 쓰이고 있을까요? 캠페인즈를 활용해 캠페인을 진행한 과정에 대해 세 명의 캠페이너를 모시고 직접 이야기 들어봅니다.
                                    %div
                                        %strong with
                                        .inline-block
                                            알맹상점
                                            %strong 금자
                                        .inline / 
                                        .inline-block                                    
                                            개운초등학교
                                            %strong 이진수
                                        .inline / 
                                        .inline-block                                    
                                            참여연대
                                            %strong 이계정                               
                    .flex-768
                        .time
                        %div
                            .session-border{onclick:"openClose(this);"}
                                .session
                                    세션 2
                                    .subject 시민이 직접 만드는 일상의 공론장
                                    .small-text ZOOM 진행 / 유튜브 중계  
                            .foldable
                                .padding
                                    .desc 시민주도 공론장의 개념과 다양한 사례를 소개하고, 시민주도 디지털 공론장이 나아갈 방향을 논의합니다.
                                    %div
                                        %strong with
                                        .inline-block
                                            서울 청년유니온
                                            %strong 제제
                                        .inline /
                                        .inline-block                                    
                                            사단법인 부산청년들
                                            %strong 조아
                                        .inline /
                                        .inline-block                                    
                                            니트생활자
                                            %strong 다지
                                        .inline /
                                        .inline-block                                    
                                            오늘의행동
                                            %strong 생강
                                        .inline /
                                        .inline-block                                    
                                            한국사회적경제연대회의
                                            %strong 매츄
                .table-row.pc
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 13:00 - 15:00
                        .flex-grow.flex
                            .half
                                세션 1
                                .subject 시민 주도 사회문제 해결 활동 연구
                                .small-text ZOOM 진행 / 유튜브 중계
                            .half
                                세션 2
                                .subject 공론의 발화점 팩트체크
                                .small-text ZOOM 진행 / 유튜브 중계
                    .foldable
                        .padding.flex
                            .half
                                .desc 디지털 기술 기반의 시민 주도 사회문제 해결 활동을 다룬 “COVID-19 공적 마스크 앱 개발과정에서의 e-거버넌스” 연구 결과를 발표하고, 시빅해킹 커뮤니티 활동 경험을 이야기합니다.  
                                %div
                                    %strong with
                                    .inline-block
                                        서울연구원
                                        %strong 이정용
                                    .inline /
                                    .inline-block
                                        코드포코리아
                                        %strong 미, 준수, 달로스, 시스
                            .half
                                .desc 팩트체크 원칙 및 활동내용을 공유하고 협업 팩트체크의 의미와 다양화 방안, 팩트체크의 중요성 및 방법등을 이야기 합니다.
                                %div
                                    %strong with
                                    .inline-block
                                        팩트체크넷
                                        %strong 김세옥
                                    .inline / 
                                    .inline-block                                    
                                        빠띠
                                        %strong 쭈
                .table-row.mobile
                    .flex-768
                        .time 13:00 - 15:00
                        %div
                            .session{onclick:"openClose(this);"}
                                세션 1
                                .subject 시민 주도 사회문제 해결 활동 연구
                                .small-text ZOOM 진행 / 유튜브 중계
                            .foldable
                                .padding
                                    .desc 디지털 기술 기반의 시민 주도 사회문제 해결 활동을 다룬 “COVID-19 공적 마스크 앱 개발과정에서의 e-거버넌스” 연구 결과를 발표하고, 시빅해킹 커뮤니티 활동 경험을 이야기합니다.  
                                    %div
                                        %strong with
                                        .inline-block
                                            서울연구원
                                            %strong 이정용
                                        .inline /
                                        .inline-block
                                            코드포코리아
                                            %strong 활동가
                    .flex-768
                        .time
                        %div
                            .session-border{onclick:"openClose(this);"}
                                .session
                                    세션 2
                                    .subject 공론의 발화점 팩트체크
                                    .small-text ZOOM 진행 / 유튜브 중계
                            .foldable
                                .padding
                                    .desc 팩트체크 원칙 및 활동내용을 공유하고 협업 팩트체크의 의미와 다양화 방안, 팩트체크의 중요성 및 방법등을 이야기 합니다.
                                    %div
                                        %strong with
                                        .inline-block
                                            팩트체크넷
                                            %strong 김세옥
                                            .inline /
                                        .inline-block
                                            빠띠
                                            %strong 쭈

                .table-row
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 15:00 - 17:00
                        .flex-grow
                            .subject 빠띠 타운홀과 온라인 의사결정
                            .small-text ZOOM 진행 / 유튜브 중계
                    .foldable
                        .padding
                            .desc
                                %p 내 주변에 크고 작은 문제들.
                                %p 빠띠 타운홀을 사용하여 어떻게 숙의하고 민주적인 의사결정을 할 수 있을지 이야기 나눠봅니다.
                            %div
                                %strong with
                                .inline
                                    빠띠
                                    %strong 위니

                .table-row
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 19:30 - 21:30
                        .flex-grow
                            .subject 
                                %p 네트워킹 : 카누 커뮤니티 데이!
                                %p 2022년, 어떤 이슈로 커뮤니티 해볼까?
                            .small-text 오프라인 진행
                    .foldable
                        .padding
                            .desc
                                %p 관심있는 나만의 사회 이슈는 무엇인가요? 서로의 관심사를 마치 물살이처럼 자유롭게 돌아다니며 나눠봐요.
                                %p 커뮤니티에서 사람들이 이슈로 함께 액션할 수 있는 방법도 함께 고민해봐요.
                            %div
                                %strong with
                                .inline
                                    %strong 사회 이슈와 커뮤니티에 관심있는 모든 분들

        .content
            .second
                = image_tag "parti2022_governance.png", height: "186"
                .date 2일차
                .title
                    .small-text 디지털로 만드는
                    %p 더 나은 거버넌스
                .intro.paragraph
                    %div
                        디지털 기술은 시민 ・ 단체 ・ 정부가 직접 소통하고
                        .inline-block 협력할 수 있게 합니다
                    %div
                        .inline-block 빠띠는 플랫폼과 거버넌스에서,
                        시민 ・ 단체 ・ 정부가&nbsp;
                        %strong.inline-block>서로 신뢰하고 협력할 수 있는 환경
                        을 만들어왔습니다.
                    %div
                        또한
                        %strong 기후위기 대응과 노동 등
                        우리 사회에서 논의가 필요한 이슈들이
                        .inline.inline-block-460 플랫폼 기반으로 운영된 공론장과
                        다양한 단위의 거버넌스에서 논의되어왔습니다
                    %br
                    %div
                        %strong.inline-block 더 나은 민주주의를 위한 소통과 협력, 결정의 과정을
                        %strong.inline-block Parti2022에서 함께 고민해주세요
            .time-table-date.paragraph.text-left-1024 1.21 (금)
            .time-table.paragraph
                .table-row
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 13:00 - 14:40
                        .flex-grow
                            .subject
                                새로운 소통과 협력을 위한 디지털 민주주의 플랫폼
                            .small-text 오프라인 진행 / 유튜브 중계
                    .foldable
                        .padding
                            .desc
                                %p 일상의 문제를 함께 논의하고 해결 방안을 찾고 실행하는 시민협력플랫폼의 다양한 사례를 공유하고, 개선방안에 대해 논의합니다. 
                            %div
                                %strong with
                                .inline-block
                                    경기도 마을공동체지원센터
                                    %strong 최용선
                                .inline /
                                .inline-block                                 
                                    오늘의행동
                                    %strong 정경훈
                                .inline /
                                .inline-block                                 
                                    지역문제해결플랫폼
                                    %strong 우장한
                .table-row
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 15:00 - 16:30
                        .flex-grow
                            .subject
                                디지털로 만드는 기후위기 대응행동
                            .small-text ZOOM 진행 / 유튜브 중계
                    .foldable
                        .padding
                            .desc
                                %p 기후위기에 대응하기 위한 시민주도의 디지털 공론장 및 캠페인 등 현장의 활동 경험을 공유하고 협력의 지점을 찾아봅니다.
                            %div
                                %strong with
                                .inline-block
                                    녹색전환연구소
                                    %strong 장윤석
                                .inline / 
                                .inline-block
                                    청소년기후행동
                                    %strong 코림
                                .inline / 
                                .inline-block                                
                                    쓰레기센터
                                    %strong 송다슬
                .table-row
                    .flex-768.session{onclick:"openClose(this);"}
                        .time 16:30 - 18:00
                        .flex-grow
                            .subject 디지털로 만드는 더 나은 노동
                            .small-text 유튜브 중계
                    .foldable
                        .padding
                            .desc
                                %p 오래된 그리고 새로운 노동 문제를 해결하기 위한 다양한 유형의 정책 공론장 운영 경험을 공유하고, 더 나은 방안을 고민해봅니다.
                            %div
                                %strong with
                                .inline-block
                                    민주노총 공공운수노조
                                    %strong 안그라미
                                .inline / 
                                .inline-block                                
                                    경제사회노동위원회
                                    %strong 신수정
                                .inline / 
                                .inline-block                                
                                    서울노동권익센터
                                    %strong 신태중
                                .inline /
                                .inline-block                                 
                                    연세대학교 의과대학
                                    %strong 윤진하
            = link_to "참여 신청", "https://townhall.kr/m/2295", target: "_blank", class: "townhall_link"
            = link_to "참여 신청", "https://townhall.kr/m/2295", target: "_blank", class: "townhall_link fixed"
            .message 원하는 세션만 선택 참여가능합니다

    %section.section4
        .background
        .content
            .video_wrap
                %iframe{src:"https://drive.google.com/file/d/1zMall__xwCVdl5T46ILkWMktIvPRA4nu/preview", allow:"autoplay"}
    %section.section5
        .content
            .title
                빠띠가 지향하는 민주주의
                .small-text 더 많은, 더 나은, 일상의
                .paragraph 사회적협동조합 빠띠는 디지털 기술을 활용해 민주주의를 혁신하고 사회의 여러 영역으로 확산하는 민주주의 활동가들의 협동조합입니다. 빠띠는 더 많은, 더 나은, 일상의 민주주의를 지향합니다.
        .content-expand
            .flex-1024
                .half-1024
                    .circle
                        .text-wrap
                            .subject
                                %p 더 많은 민주주의
                                %p Democracy More
                            .paragraph
                                %p 시민의 권리와 주권 확대
                                %p 투명성과 개방성
                                %p 공공성의 증대
                                %p 독점과 엘리트 주의의 극복
                            .tag
                                .inline-block 공론장
                                .inline-block 거버넌스
                                .inline-block 이슈 커뮤니티
                                .inline-block 시민주도 캠페인
                .half-1024
                    .half-circle
                        .text-wrap
                            .subject
                                %p 더 나은 민주주의
                                %p Democracy Better
                            .paragraph
                                %p 안전과 자유
                                %p 신뢰와 협력의 기반 조성
                                %p 숙의성과 창발성
                                %p 협력적 거버넌스
                                %p 혐오와 갈등, 형식적 민주주의의 극복
                            .tag
                                %div
                                    .inline-block 공익데이터
                                    .inline-block 넷세이프티
                                    .inline-block 팩트체킹
                                    .inline-block 숙의와 토론
                                %div
                                    .inline-block 민주적 의사결정
                                    .inline-block 시민입법
                                    .inline-block 시민조례
                                    .inline-block 참여예산
            .quarter-circle-wrap    
                .quarter-circle
                    .text-wrap.flex-1024
                        .half-1024
                            .subject
                                %p 일상의 민주주의
                                %p Democracy Everyday
                        .half-1024
                            .paragraph
                                %p 자율과 분권에 기초한
                                %p 공공재 운영시스템으로서의 민주주의
                                %p 다양성과 보편성을 기반으로
                                %p 자유롭고 협력적이며,
                                %p 풍요롭고 지속가능한 사회
                            .tag
                                .inline-block 풀뿌리
                                .inline-block 지방자치
                                .inline-block 탈중앙화
                                .inline-block 스마트 컨트랙트
                                .inline-block 디지털 커먼즈
    %section.section6
        .content.flex-768
            .title 협업 문의
            .paragraph
                %p 빠띠는 공론장, 캠페인, 커뮤니티, 숙의와 의사결정 등 다양한 영역에서 디지털 민주주의를 혁신하고 있습니다.
                %p 활동하시는 지역이나 분야에서 디지털 민주주의를 빠띠와 함께 만들고 싶으신가요? contact@parti.coop 으로 연락주세요.
    %section.section7
        .content.flex-768
            .title 후원 안내
            .paragraph
                %p Parti 2022는 민주주의 활동가들의 자발적인 기여로 더 나은 민주주의 생태계를 만들어가고자 하는 첫 걸음입니다.
                %p 더 나은 생태계를 위한 발걸음에 동참해주세요.
                %br
                %p 1만원 이상 후원해주신 분들께는 빠띠 굿즈를 배송해드릴 예정입니다. 빠띠는 지정기부금 단체로 지정되어 소득공제 혜택이 가능합니다.

                = link_to "후원하기", "https://forms.gle/bTVprytmoq1p6EbFA", class: "donation_link", target: "_blank"
            

:javascript
    function openClose(e){
        e.parentNode.classList.toggle("show");
    }
