%section.base-key-visual
  .base-line
    .container
      .base-title-container
        .base-page-subtitle
          더 민주적인 세상을 만드는
        .base-page-title
          우리가 하는 일

%a.anchor(id="tiles")
%section.tiles
  .container.container-sm.categories-container
    .categories
      .category{ class: ('active' if params[:solution_slug].blank?) }
        = link_to what_we_do_path(anchor: :tiles), class: 'category-text' do
          전체
      - Post::SOLUTIONS.each do |solution|
        .category{ class: ('active' if solution[:slug].to_s == params[:solution_slug]) }
          = link_to what_we_do_path(solution_slug: solution[:slug], anchor: :tiles), class: 'category-text' do
            != solution[:title]
  .container
    .tiles-container.js-post-tiles-container
      = render 'pages/what_we_do/posts_page', posts: @posts
    .tile-more.text-center.js-post-tiles-more
      = render 'pages/what_we_do/more_posts_btn', posts: @posts

