%section.base-key-visual
  .base-line
    .container
      .base-title-container
        .base-page-subtitle
          더 민주적인 세상을 만드는
        .base-page-title
          우리가 하는 일

%a.anchor(id="tiles")
%section.tiles
  .container.categories-container
    .categories
      .category{ class: ('active' if params[:category_slug].blank?) }
        = link_to what_we_do_path(anchor: :tiles), class: 'category-text' do
          전체
      - Post::CATEGORIES.each do |category_slug, category_title|
        .category{ class: ('active' if category_slug.to_s == params[:category_slug]) }
          = link_to what_we_do_path(category_slug: category_slug, anchor: :tiles), class: 'category-text' do
            != category_title
  .container
    - if @posts.any?
      .tiles-container.js-post-tiles-container
        = render 'pages/what_we_do/posts_page', posts: @posts
      .tile-more.text-center.js-post-tiles-more
        = render 'pages/what_we_do/more_posts_btn', posts: @posts
    - else
      %p.lead.text-center.w-100{ style: 'margin-top: 200px; margin-bottom: 200px;' }
        글을 준비 중입니다.
