%section.key-visual
  .container.container-xs
    .title-container
      .page-title
        협업 문의
      .page-subtitle.text-keep-all
        활동 영역 별 다양한 방식으로 여러분과 협업합니다.
  .envelope
    = image_tag 'contact-envelope.png'

= content_for :recaptcha_js do
  = include_recaptcha_js

%section.form
  .container.container-xs
    = form_with model: @contact, local: true, id: 'js-contact-form', class: 'js-form-validation' do |f|
      %fieldset
        %legend 프로젝트 정보

        .alert.alert-secondary.help-text
          * 는 필수 입력 항목입니다.

        .form-group
          = f.label :project_subject
          = f.text_field :project_subject, class: 'form-control', data: { 'rule-required': true }
        .form-group
          = f.label :project_body
          = f.text_area :project_body, class: 'form-control', placeholder: '프로젝트 소개, 기간, 예산', data: { 'rule-required': true }
        .form-group
          = f.label :project_why
          = f.text_area :project_why, class: 'form-control', placeholder: '빠띠를 어떻게 알게 되셨나요? 왜 빠띠인지 조금만 더 설명해주시면 효과적으로 접수를 진행할 수 있어요.', data: { 'rule-required': true }
        .form-group
          = f.label :solution_slugs
          - Post::SOLUTIONS_OPTIONS_WITH_ETC.each do |solution_option|
            .form-check
              = f.check_box :solution_slugs, { class: 'form-check-input form-control', multiple: true }, solution_option[:slug], nil
              %label.form-check-label{ for: :solution_slugs }<>
                = solution_option[:title]
        .form-group
          = f.label :attachment
          = f.file_field :attachment, class: 'form-control'
      %fieldset
        %legend 연락처
        .form-group
          = f.label :contact_org
          = f.text_field :contact_org, class: 'form-control'
        .form-group
          = f.label :contact_manager
          = f.text_field :contact_manager, class: 'form-control', data: { 'rule-required': true }
        .form-group
          = f.label :contact_tel
          = f.text_field :contact_tel, class: 'form-control'
        .form-group
          = f.label :contact_email
          = f.email_field :contact_email, class: 'form-control', data: { 'rule-required': true }
        .form-group
          .form-check
            = f.check_box :confirm_privacy, class: 'form-check-input', id: 'contact-form-confirm_privacy', data: { 'rule-required': true, 'invalid-error': '#js-contact-checkbox-error', msg: '개인정보 수집 및 처리 동의가 필요합니다.' }
            %label.form-check-label{ for: :confirm_privacy }<>
              = link_to '개인정보 수집 및 처리', privacy_path, target: '_blank', style: 'text-decoration: underline'
              에 동의합니다.
          #js-contact-checkbox-error


          .form-check
            = f.check_box :confirm_marketing, class: 'form-check-input'
            %label.form-check-label{ for: :confirm_marketing }<>
              = link_to '마케팅 정보 수신', marketing_path, target: '_blank', style: 'text-decoration: underline'
              에 동의합니다. (선택)
            .form-text
              빠띠가 진행하는 여러 이벤트의 알림을 받으시고 혜택을 놓치지 마세요.

          .form-check
            = f.check_box :confirm_mailing, class: 'form-check-input'
            %label.form-check-label{ for: :confirm_mailing }<>
              %strong<> 민주주의 리포트
              를 구독합니다. (선택)
            .form-text
              빠띠의 민주주의 리포트를 매월 이메일로 받아보세요.

        = recaptcha_action('checkout')

        = f.submit '협업문의하기', class: 'btn btn-primary btn-block'
