%section.key-visual
  .container.container-xs
    .title-container
      .page-title
        협업 문의
      .page-subtitle.text-keep-all
        활동 영역 별 다양한 방식으로 여러분과 협업합니다.
  .envelope
    = image_tag 'contact-envelope.png'

%section.form
  .container.container-xs
    = form_with url: "#" do |f|
      %fieldset
        %legend 프로젝트 정보
        .form-group
          = f.label :project_subject, '프로젝트 주제'
          = f.select :project_subject, SolutionsController::SOLUTION.map { |solution| [ raw(solution[:title]), solution[:slug] ] }, { prompt: "주제 선택..." }, class: 'form-control'
        .form-group
          = f.label :project_body, '프로젝트 개요'
          = f.text_area :project_body, class: 'form-control', placeholder: '프로젝트 소개, 기간, 예산'
        .form-group
          = f.label :attachment, '첨부파일'
          = f.file_field :attachment, class: 'form-control'
      %fieldset
        %legend 연락처
        .form-group
          = f.label :contact_org, '조직명'
          = f.text_field :contact_org, class: 'form-control'
        .form-group
          = f.label :contact_manager, '담당자 이름/직함'
          = f.text_field :contact_manager, class: 'form-control'
        .form-group
          = f.label :contact_tel, '전화번호'
          = f.text_field :contact_tel, class: 'form-control'
        .form-group
          = f.label :contact_email, '이메일 주소'
          = f.email_field :contact_email, class: 'form-control'
        .form-group
          .form-check
            = f.check_box :confirm, class: 'form-check-input'
            %label.form-check-label{ for: :confirm }
              개인정보 수집 및 처리에 동의합니다.
        = f.submit '협업문의하기', class: 'btn btn-primary btn-block'
