- if controller_name != 'contacts'
  %section.contacts
    .container.container-sm
      .base-section-title
        빠띠와 협업하기
      .base-section-desc.text-keep-all
        -# 다양한 방식으로 여러분과 협업합니다.
        프로젝트, 컨설팅, 교육,
        %span.text-nowrap 디지털 솔루션까지
        %br
        다양한 방식으로 여러분과
        %span.text-nowrap 함께 합니다.

        -# %br
        -# .text-nowrap
        -#   지금 바로 문의하세요.
      .contact-button-container
        = link_to new_contact_path,  class: 'btn btn-default btn-contact' do
          협업 문의하기
      .contact-envelope
        = image_tag 'contact-envelope.png'

%footer.app-footer
  .container-fluid
    .logo
      빠띠
    .utils
      .utils-left
        .util
          = link_to 'https://github.com/parti-coop', target: '_blank' do
            %i.fab.fa-github
        .util
          = link_to 'https://facebook.com/PartiUnion', target: '_blank' do
            %i.fab.fa-facebook
        .util
          = link_to 'https://twitter.com/parti_coop', target: '_blank' do
            %i.fab.fa-twitter
        .util
          = link_to 'https://www.instagram.com/particoop_/', target: '_blank' do
            %i.fab.fa-instagram
        .util.util-br.d-block.d-lg-none
        .util
          = link_to '개인정보처리방침', privacy_path
        .util.util-br.d-block.d-lg-none
        .util
          = link_to '문의 contact@parti.xyz', 'mailto:contact@parti.xyz'

      .utils-right
        .democracy-report-subscribe
          = form_with url: subscribe_reports_path, class: 'form-inline js-form-validation' do |f|
            %label{ for: :email } 민주주의 리포트 구독하기
            .form-group<>
              = f.text_field :name, placeholder: '이름', id: 'site-subscribe-report-input-name', class: 'form-control', data: { 'rule-required': true, 'invalid-error': '#js-report-subscribe-error', msg: '이름과 이메일 주소는 필수 입력 항목입니다.' }
              = f.email_field :email, placeholder: '이메일 주소', id: 'site-subscribe-report-input-email', class: 'form-control', data: { 'rule-required': true, 'invalid-error': '#js-report-subscribe-error', msg: '이름과 이메일 주소는 필수 입력 항목입니다.' }
            %button.btn.btn-primary.btn-subscribe{ type: :submit } 구독신청
          #js-report-subscribe-error
    .license
      Copyright 2020.
      %b Parti Co-op.
      %span.text-nowrap All rights reserved.

