- if controller_name != 'contacts'
  %section.contacts
    .container.container-sm
      .base-section-title
        빠띠와 협업하기
      .base-section-desc.text-keep-all
        -# 다양한 방식으로 여러분과 협업합니다.
        프로젝트, 컨설팅, 교육,
        %span.text-nowrap 디지털 솔루션까지
        %br
        다양한 방식으로 여러분과
        %span.text-nowrap 함께 합니다.

        -# %br
        -# .text-nowrap
        -#   지금 바로 문의하세요.
      .contact-button-container
        = link_to new_contact_path,  class: 'btn btn-default btn-contact' do
          협업 문의하기
      .contact-envelope
        = image_tag 'contact-envelope.png'

%section.activists
  .container.container-sm
    .base-section-title
      활동가 커뮤니티 참여하기
    .base-section-desc.text-keep-all
      %span.text-nowrap 빠띠 민주주의 활동가들이
      %br
      함께 교류하는
      %span.text-nowrap 커뮤니티입니다.
    .activists-button-container
      = link_to "https://democracy-activists.parti.xyz/",  class: 'btn btn-default btn-contact' do
        참여하기

%footer.app-footer
  .container-fluid
    .logo
      빠띠
    .utils
      .utils-left
        .util
          = link_to 'https://github.com/parti-coop', target: '_blank' do
            %i.fab.fa-github
        .util
          = link_to 'https://facebook.com/PartiUnion', target: '_blank' do
            %i.fab.fa-facebook
        .util
          = link_to 'https://twitter.com/parti_coop', target: '_blank' do
            %i.fab.fa-twitter
        .util
          = link_to 'https://www.instagram.com/particoop_/', target: '_blank' do
            %i.fab.fa-instagram
        .util.util-br.d-block.d-lg-none
        .util
          = link_to '개인정보처리방침', privacy_path
        .util.util-br.d-block.d-lg-none
        .util
          = link_to '문의 contact@parti.coop', 'mailto:contact@parti.coop'

      .utils-right
        .democracy-report-subscribe
          = form_with url: subscribe_reports_path, class: 'form-inline js-form-validation' do |f|
            %label{ for: :email } 민주주의 리포트 구독하기
            .form-group<>
              = f.text_field :name, placeholder: '이름', id: 'site-subscribe-report-input-name', class: 'form-control', data: { 'rule-required': true, 'invalid-error': '#js-report-subscribe-error', msg: '이름과 이메일 주소는 필수 입력 항목입니다.' }
              = f.email_field :email, placeholder: '이메일 주소', id: 'site-subscribe-report-input-email', class: 'form-control', data: { 'rule-required': true, 'invalid-error': '#js-report-subscribe-error', msg: '이름과 이메일 주소는 필수 입력 항목입니다.' }
            %button.btn.btn-primary.btn-subscribe{ type: :submit } 구독신청
          #js-report-subscribe-error
    .license.d-md-flex
      %a(href="https://creativecommons.org/licenses/by/4.0/deed.ko" target="_blank")
        = image_tag 'ccby4.png', style: 'height: 2.8em; margin-right: 0.4em;'
      .flex-fill
        %b Parti Co-op.
        에 의해 작성된
        이 웹사이트는
        %br
        %a.text-nowrap.text-underline.hover:text-underline(href="https://creativecommons.org/licenses/by/4.0/deed.ko" target="_blank") 크리에이티브 커먼즈 저작자표시 4.0 국제
        %span.text-nowrap 라이선스에 따라 이용할 수 있습니다.

