%section.base-key-visual
  .base-line
    .container
      .base-title-container
        .base-page-subtitle
          != info[:subtitle]
        .base-page-title
          != info[:title]

= content

%section.tiles.tiles-what-we-do
  .tiles-title-line
    .container
      .tiles-title.text-keep-all
        이 솔루션으로 하는 일
  .container.container-full
    .tiles-container
      - Post.published.recent.by_solution_slug(info[:slug]).limit(3).each do |post|
        .tile-container<>
          .tile
            .tile-meta
              .title!= post.title
              .created-at= static_day_f post.published_at
      .tile-container<>
        = link_to what_we_do_path(solution_slug: info[:slug]), class: 'tile tile-more' do
          .more-link
            소식 더 보기
          .more-icon
            %i.fas.fa-arrow-right