%section.base-key-visual
  .base-line
    .container
      .base-title-container
        .base-page-subtitle
          != info[:subtitle]
        .base-page-title
          != info[:title]

= content

- if info[:portfolios].any?
  %section.tiles.tiles-portfolio
    .tiles-title-line
      .container
        .tiles-title
          포트폴리오
    .container
      .tiles-container<>
        - info[:portfolios].each do |portfolio|
          .tile-container<>
            = link_to (portfolio[:url].presence || new_contact_path) , target: '_blank' do
              .tile
                .tile-cover-container
                  .tile-cover{ style: (portfolio[:image_path].present? ? "background-image: url(#{asset_url("solutions/#{slug}/#{portfolio[:image_path]}")})" : "background-image: url(#{asset_url("#{slug}-key-visual.png")})") }
                .tile-meta
                  .title
                    != portfolio[:title]
                  .body
                    != portfolio[:description]

- if info[:items].any?
  %section.tiles.tiles-portfolio
    .tiles-title-line
      .container
        .tiles-title
          != info[:items_name]
    .container
      .tiles-container{ class: "tiles-container-#{slug}" }<>
        - info[:items].each do |item|
          .tile-container<>
            %a.anchor(id="anchor-item-#{item[:slug]}")
            = link_to (item[:url].presence || new_contact_path) , target: '_blank' do
              .tile
                .tile-cover-container
                  .tile-cover{ style: (item[:image_path].present? ? "background-image: url(#{asset_url("solutions/#{slug}/#{item[:image_path]}")})" : "background-image: url(#{asset_url('samples/home/whatwedo/card1.png')})") }
                .tile-meta
                  .title
                    != item[:title]
                  .body.text-keep-all
                    != item[:description]

- if info[:using_platform_slugs]&.any?
  %section.tiles.tiles-portfolio
    .tiles-title-line
      .container
        .tiles-title
          플랫폼
    .container
      .tiles-container.tiles-container-soft<>
        - info[:using_platform_slugs].each do |using_platform_slug|
          - using_platform = Platform::DICTIONARY[using_platform_slug]
          .tile-container<>
            = link_to (using_platform[:url].presence || new_contact_path) , target: '_blank' do
              .tile
                .tile-cover-container
                  .tile-cover{ style: (using_platform[:image_path].present? ? "background-image: url(#{asset_url("solutions/soft/#{using_platform[:image_path]}")})" : "background-image: url(#{asset_url('samples/home/whatwedo/card1.png')})") }
                .tile-meta
                  .title
                    != using_platform[:title]
                  .body.text-keep-all
                    != using_platform[:description]
%section.tiles.tiles-what-we-do
  .tiles-title-line
    .container
      .tiles-title.text-keep-all
        소식
  .container.container-full
    .tiles-container
      - Post.published.recent.by_category_slug(slug).limit(3).each do |post|
        .tile-container<>
          = link_to post_path(id: post.id) do
            .tile
              .tile-meta
                .title!= post.title
                .created-at= static_day_f post.published_at
      .tile-container<>
        = link_to what_we_do_path(category_slug: slug), class: 'tile tile-more' do
          .more-link
            #{ slug == :soft ? '소식 더 보기' : '하는 일 더 보기' }
          .more-icon
            %i.fas.fa-arrow-right